<!doctype html>
<html>
<head>
  <title> Hello </title>
</head>
<body>
  <h1> Metadata</h1>
<h2> Cycle</h2>
<h4>{
  "kind": "storage#object",
  "id": "dev_lab/cycle.jpg/1660056069038720",
  "selfLink": "https://www.googleapis.com/storage/v1/b/dev_lab/o/cycle.jpg",
  "mediaLink": "https://content-storage.googleapis.com/download/storage/v1/b/dev_lab/o/cycle.jpg?generation=1660056069038720&alt=media",
  "name": "cycle.jpg",
  "bucket": "dev_lab",
  "generation": "1660056069038720",
  "metageneration": "1",
  "contentType": "image/jpeg",
  "storageClass": "STANDARD",
  "size": "4246",
  "md5Hash": "Yu3EBDdlNCBJpcLrX0oI+A==",
  "crc32c": "psh+8Q==",
  "etag": "CIDFteL+ufkCEAE=",
  "timeCreated": "2022-08-09T14:41:09.063Z",
  "updated": "2022-08-09T14:41:09.063Z",
  "timeStorageClassUpdated": "2022-08-09T14:41:09.063Z"
}
</h4>

<h2>Car</h2>

<h4>
{
  "kind": "storage#object",
  "id": "dev_lab/car.jpg/1660056069239948",
  "selfLink": "https://www.googleapis.com/storage/v1/b/dev_lab/o/car.jpg",
  "mediaLink": "https://content-storage.googleapis.com/download/storage/v1/b/dev_lab/o/car.jpg?generation=1660056069239948&alt=media",
  "name": "car.jpg",
  "bucket": "dev_lab",
  "generation": "1660056069239948",
  "metageneration": "1",
  "contentType": "image/jpeg",
  "storageClass": "STANDARD",
  "size": "8396",
  "md5Hash": "45oJurbMsG9UKK8WXZUFDA==",
  "crc32c": "4jcSaw==",
  "etag": "CIzpweL+ufkCEAE=",
  "timeCreated": "2022-08-09T14:41:09.263Z",
  "updated": "2022-08-09T14:41:09.263Z",
  "timeStorageClassUpdated": "2022-08-09T14:41:09.263Z"
}

</h4>

<h2>Bike</h2>
<h4>
  
  {
  "kind": "storage#object",
  "id": "dev_lab/bike.jpg/1660056068638474",
  "selfLink": "https://www.googleapis.com/storage/v1/b/dev_lab/o/bike.jpg",
  "mediaLink": "https://content-storage.googleapis.com/download/storage/v1/b/dev_lab/o/bike.jpg?generation=1660056068638474&alt=media",
  "name": "bike.jpg",
  "bucket": "dev_lab",
  "generation": "1660056068638474",
  "metageneration": "1",
  "contentType": "image/jpeg",
  "storageClass": "STANDARD",
  "size": "13348",
  "md5Hash": "PnE2pY3IpVg8DPNz1X0zlA==",
  "crc32c": "IB0ILw==",
  "etag": "CIqOneL+ufkCEAE=",
  "timeCreated": "2022-08-09T14:41:08.657Z",
  "updated": "2022-08-09T14:41:08.657Z",
  "timeStorageClassUpdated": "2022-08-09T14:41:08.657Z"
}

  </h4>





</body>
</html>
