<!doctype html>
<html>
<head>
  <title> Hello </title>
</head>
<body>
  <h1> Metadata</h1>
<h2> Cycle</h2>
<h4>"kind": "storage#object",
  "id": "bucket123ab/cycle.jfif/1648684640884699",
  "selfLink": "https://www.googleapis.com/storage/v1/b/bucket123ab/o/cycle.jfif",
  "mediaLink": "https://content-storage.googleapis.com/download/storage/v1/b/bucket123ab/o/cycle.jfif?generation=1648684640884699&alt=media",
  "name": "cycle.jfif",
  "bucket": "bucket123ab",
  "generation": "1648684640884699",
  "metageneration": "1",
  "contentType": "image/jpeg",
  "storageClass": "STANDARD",
  "size": "248487",
  "md5Hash": "S0gxkH4L3CxCyYwrlARgfw==",
  "crc32c": "5NaL4w==",
  "etag": "CNuv9/KE7/YCEAE=",
  "timeCreated": "2022-03-30T23:57:20.923Z",
  "updated": "2022-03-30T23:57:20.923Z",
  "timeStorageClassUpdated": "2022-03-30T23:57:20.923Z"</h4>

<h2>Car</h2>

<h4>
"kind": "storage#object",
  "id": "bucket123ab/car.jfif/1648684623840085",
  "selfLink": "https://www.googleapis.com/storage/v1/b/bucket123ab/o/car.jfif",
  "mediaLink": "https://content-storage.googleapis.com/download/storage/v1/b/bucket123ab/o/car.jfif?generation=1648684623840085&alt=media",
  "name": "car.jfif",
  "bucket": "bucket123ab",
  "generation": "1648684623840085",
  "metageneration": "1",
  "contentType": "image/jpeg",
  "storageClass": "STANDARD",
  "size": "498724",
  "md5Hash": "eoXwXrKjli2AKzFxwRgk8A==",
  "crc32c": "1s7+tw==",
  "etag": "CNWG5+qE7/YCEAE=",
  "timeCreated": "2022-03-30T23:57:03.878Z",
  "updated": "2022-03-30T23:57:03.878Z",
  "timeStorageClassUpdated": "2022-03-30T23:57:03.878Z"
</h4>

<h2>Bike</h2>
<h4>"kind": "storage#object",
  "id": "bucket123ab/bike.jfif/1648684614927339",
  "selfLink": "https://www.googleapis.com/storage/v1/b/bucket123ab/o/bike.jfif",
  "mediaLink": "https://content-storage.googleapis.com/download/storage/v1/b/bucket123ab/o/bike.jfif?generation=1648684614927339&alt=media",
  "name": "bike.jfif",
  "bucket": "bucket123ab",
  "generation": "1648684614927339",
  "metageneration": "1",
  "contentType": "image/jpeg",
  "storageClass": "STANDARD",
  "size": "332108",
  "md5Hash": "PJWZeQXxoWYXF2FfJmnqyw==",
  "crc32c": "uDn/Pw==",
  "etag": "COuHx+aE7/YCEAE=",
  "timeCreated": "2022-03-30T23:56:54.966Z",
  "updated": "2022-03-30T23:56:54.966Z",
  "timeStorageClassUpdated": "2022-03-30T23:56:54.966Z"</h4>





</body>
</html>